node_modules/
src/testdata/
src/test/
src/json/readTopics/
config/
LDAjava.java
__pycache__/
pantip_trend/
python/mongo_js/
python/image_pro/dogs-gone-sideways/
python/image_pro/hot-dog-not-hot-dog/
python/image_pro/resnet50/
python/image_pro/urban-and-rural-photos/
python/image_pro/vgg16/
backend/config.json
backend/node_modules/
python/.gitignore

.vscode/
